.search_container {
  /* position: relative; */
  z-index: 10;
}
.search {
  /* padding: 16px 0; */
  /* margin-top: 8px; */
  position: relative;
}
.search_icon {
  position: absolute;
  top: 16px;
  left: 16px;
  color: var(--dark-50);
}
.close_search_icon {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--dark-50);
}
.search input {
  height: 48px;
  padding: 8px 16px 8px 42px;
  border-radius: var(--border-radius);
  background-color: var(--dark-10);
  border: none;
  width: 100%;
  box-sizing: border-box; /* Ensure consistent box sizing */
}
.search_dialog {
  width: 100vw;
  height: calc(100vh - (64px + 80px));
  background-color: white;
  position: absolute;
  z-index: 8;
  padding: 0 16px;
  overflow-y: scroll;
  top: 143px;
  box-sizing: border-box;
}
.search_dialog ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.search_dialog li a {
  display: flex;
  gap: 8px;
  margin: 16px 0;
}
.cover_small img {
  width: 60px;
}
.info_small div {
  margin-bottom: 4px;
  font-size: 14px;
}
.title_small {
  font-size: 16px !important;
  font-weight: 500;
}
.search_input_container {
  padding: 16px;
  background-color: white;
}

.sticky_search {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  z-index: 10;
  top: 64px;
  border-bottom: 1px solid var(--dark-10);
}

.no_scroll {
  position: fixed !important;
  overflow: hidden !important;
  width: 100%; /* Fix for scroll bar removal */
}
